.contactus{
	padding:  60px 0;
}
#map {
    display: block;
    width: 100%;
    height: 250px;
}
.infor-item{
	margin-bottom: 30px;
}
.infor-img img{
	display: block;
	margin: 0 auto;
}
.infor-title{
	font-size: 1.125rem;
	font-weight: bold;
	margin-bottom: 5px;
}
.p-15 {
	padding-right: 0;
}
@media (max-width: 768px){
	.infor-ct{
		margin-top: 15px;
		text-align: center;
	}
}