/*----------------Banner-main------------------*/
.owl-theme .owl-nav.disabled+.owl-dots{
	position: relative;
	top: -60px;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
	background-color: var(--main-color);
}
.banner-item{
	height: 500px;
}
.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
/*----------------Banner-main------------------*/

.h-title__sub{
  display: inline-block;
}
.h-title__sub i{
  font-size: 0.75rem;
  font-weight: bold;
  display: inline-block;
  margin: 0 15px;
}
.h-title__sub a{
  font-size: 1.125rem;
  font-weight: bold;
  font-family: var(--sub-font);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.h-title__sub a:hover,.h-title__sub a:focus{
  color: var(--main-color);
}
/*----------------h-project------------------*/

.h-project{
  margin-top: -35px;
  padding: 60px 0 60px;
  background-color: #f9f9f9;
  position:  relative;
}
.h-project__list{
  margin-top: 40px;
}
.h-project__item{
  display: block;
}
.h-pro__imgct{
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: block;
  border-radius: 3px;
  position: relative;
}
.h-pro__img{
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
}
.h-project__item:hover .h-pro__img{
  -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.quickview {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    display: none;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
     transition: 0.5s;
}
.quickview i{
    font-size: 1rem;
    color: #777;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h-project__item:hover .quickview,
.h-project__item:focus .quickview{
    display: block;
}
.h-pro__infor{
  margin-top: 15px;
}
.h-pro__infor .h-date{
  color: #9a9ea2;
  margin-bottom: 10px;
}
.h-pro__infor .h-ct{
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 44px;
  display: block;
}
.h-project__item:hover .h-ct,.h-project__item:focus .h-ct{
  color: var(--main-color);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.h-project__list .owl-nav button.owl-next, 
.h-project__list .owl-nav button.owl-prev, 
.h-project__list button.owl-dot{
  border: 1px solid #000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.h-project__list .owl-nav i{
  font-size: 0.75rem;
}
.h-project__list .owl-nav {
  position: absolute;
  top: -80px;
  right: 0;
}
.h-project__list .owl-nav [class*=owl-]:hover{
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
/*----------------h-project------------------*/
/*----------------h-news------------------*/
.h-news{
  padding: 60px 0;
}
.h-news-lg .h-pro__imgct{
  height: 350px;
}
.h-news .h-project__item{
  margin-top: 30px;
  position: relative;
}
.h-news-lg .h-project__item::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #d5d8e0;
  margin-top: 30px;
  display: inline-block;
}
.h-news-lg .h-des{
  text-align: justify;
  line-height: 22px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 66px;
}
.h-news-small .h-pro__imgct{
  height: 200px;
}
.h-box__header{
  padding: 40px 0 40px 30px;
}
.h-box__header h3{
  color: #fff;
  font-size: 1.25rem;
  font-family: var(--sub-font);
  font-weight: bold;
}
.h-box__body{
  border: 1px solid #d5d8e0;
  border-top: none;
}
.h-box__body .h-box__date{
  color: #9a9ea2;
}
.h-box__body .h-box__title{
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}
.h-box__body .h-box__title:hover{
  color: var(--main-color);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.h-box__body h3{
  font-family: var(--sub-font);
  font-weight: bold;
  color: #e3e3e3;
  text-align: center;
  font-size: 3rem;
}
.h-body__item{
  padding: 30px;
  border-bottom: 1px solid #d5d8e0;
}
.h-public__box .h-body__item:last-child{
  border-bottom: none;
}
/*----------------h-news------------------*/
@media (max-width: 991px){
  .h-news-public{
    margin-top: 40px;
  }
  .swing-in-top-fwd{
    animation: none;
    -webkit-animation: none;
  }
}
@media (max-width: 768px){
	.banner-item{
		height: 300px;
	}
}
@media (max-width: 575px){
  .banner-item{
    height: 300px;
  }
  .hide{
    display: none;
  }
  .h-news-lg .h-pro__imgct{
    height: 300px;
  }
  .h-news-small .h-pro__imgct{
    height: 170px;
  }
}