.people{
	padding: 60px 0 30px;
}
.people-box{
	margin-bottom: 30px;
}
.p-box__imgct{
  width: 100%;
  height: 230px;
  overflow: hidden;
  display: block;
  border-radius: 3px;
  position: relative;
}
.p-box__img{
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
}
.p-box__imgct:hover .p-box__img{
  -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.p-box__info{
	padding-top: 15px;
}
.p-box__info a{
	font-size: 1.125rem;
	font-weight: bold;
	font-family: var(--sub-font);
	margin-bottom: 15px;
	display: block;
}
.p-box__info a:hover{
	color: var(--main-color);
}
.p-box__info p{
	margin-bottom: 10px;
}
.p-box__info p strong{
	display: inline-block;
	margin-right: 5px;
}
.staff-board .people-box{
	padding-bottom: 30px;
	border-bottom: 1px solid #d5d8e0;
}
.staff-board .people-box:last-child{
  border-bottom: none;
}
/*----------------news-left------------------*/

.artcle-left .h-title{
	margin-bottom: 30px;
}
.article-bt-left .h-title{
	margin-bottom: 20px;
}
.artcle-left{
	margin-bottom: 30px;
}
.news-left .news-l__imgct{
	width: 100%;
	height: 70px;
	overflow: hidden;
	display: block;
	position: relative;
  	top: 4px;
}
.news-left .news-l__img{
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-size: cover;
	background-position: center;
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
}
.news-left .news-l__img::before{
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
}
.news-l__imgct i{
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 1rem;
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
}
.news-l__imgct:hover i{
	opacity: 1;
}
.news-l__imgct:hover .news-l__img::before{
	opacity: 1;
}

.news-l__imgct:hover .news-l__img{
	-ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.news-l__date{
	font-size: 0.75rem;
	color: #9a9ea2;
	margin-bottom: 3px;
}
.news-l__des{
	font-size: 0.875rem;
	font-weight: bold;
	max-height: 57px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	text-align: justify;
}
.news-l__des:hover{
	color: var(--main-color);
	-webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.news-left{
	margin-bottom: 15px;
}
.article-bt-left .news-l__des{
	margin-bottom: 7px;
	max-height: 60px;
}
.article-bt-left .news-l__des::before{
	content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid var(--main-color);
    display: inline-block;
    margin-right: 10px;
}
.job-left-infor{
	margin-bottom: 10px;
}
@media (max-width: 768px){
	.artcle-left::after, .artcle-left::before{
		content: '';
		width: 100%;
		height: 1px;
		background-color: #d5d8e0;
		display: inline-block;
		margin: 30px 0;
	}
	.artcle-left{
		margin-bottom: 0;
	}
}
.time-line{
	margin-bottom: 30px;
}
.time-line__points{
	display: flex;
	margin-top: 15px;
}
.time-since strong{
	display: inline-block;
	margin-right: 10px;
	font-family: var(--sub-font);
}
.time-since strong::before{
	content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid var(--main-color);
    display: inline-block;
    margin-right: 10px;
}
.time-line__points ul{
	margin-top: 5px;
}
.time-line__points ul li{
	margin-bottom: 5px;
}
.time-since{
	min-width: 175px;
}
.time-line__years{
	margin-top: 15px;
}
.time-line__years .time-since{
	margin-bottom: 10px;
}
.time-line__years ul li{
	margin-bottom: 10px;
}
.time-line__years strong{
	min-width: 70px;
	display: inline-block;
}
@media (max-width: 575px){
	.people-details .p-box__info{
		padding-top: 0;
	}
	.people-details .p-box__info a{
		font-size: 1rem;
	}
}