/*----------------------------------
Reset
----------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
a:hover{
  text-decoration: none !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
button:focus {
    outline: none !important;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body * {
  line-height: 140%;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, b {
  font-weight: 500;
}
i, em {
  font-style: italic;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none !important;
}
input[type=text],
input[type=submit],
input[type=image],
input[type=password],
input[type=email],
button,
textarea {
  -webkit-appearance: none;
}
textarea,
button,
input[type=password],
input[type=email],
input[type=submit],
input[type=text] {
  font-family: var(--font-lato);
}
a:focus {
  text-decoration: none;
}
textarea:focus,
button:focus,
a:focus,
input:focus {
  outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 0.7; /* Firefox */
    font-size: 16px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
.pl-15{
  padding-left: 0;
}
body {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  color: #000;
  font-family: var(--main-font);
  --main-font: 'Nunito Sans', sans-serif;
  --sub-font: 'Montserrat', sans-serif;
  --main-color: #b91f2c;
}
.fill {
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  -o-background-size: cover !important;
  width: 100%;
}
.none-display{
  display: none;
}
.fixed-nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0px;
  background-color: #fff;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.06);
}
.back-to-top {
  position: fixed;
  display: none;
  background: var(--main-color);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 20px;
  bottom: 60px;
  opacity: 0.6;
  transition: background 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 1000;
}
.back-to-top:hover{
  opacity: 1;
  color: #fff;
}
.btn-sub{
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  padding:  0.5rem 1.5rem;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0;
  border: 2px solid #fff;
}
.btn-sub:hover, .btn-sub:focus{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  background-color: #fff;
  box-shadow: 0 4px 17px rgba(255, 255, 255, 0.35);
  color: var(--main-color);
}
.header-main__title{
  font-size: 24px;
  font-weight: bold;
  font-family: var(--sub-font);
  margin-bottom: 30px;
  display: block;
}
.header-main__title:hover{
  color: var(--main-color);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-main__title::before{
  content: '';
  width: 5px;
  height: 30px;
  background-color: var(--main-color);
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
.h-title__main{
  background-color: var(--main-color);
  color: #fff;
  font-family: var(--sub-font);
  font-weight: bold;
  font-size: 1.25rem;
  padding: 5px 17px;
  display: inline-block;
}
/*----------------------------------
Reset
----------------------------------*/
/*----------------------------------
Header-sub
----------------------------------*/
.header-sub{
  background-color: #2f2f33;
  color: #fff;
  padding: 10px 0;
  font-size: 12px;
}
.header-sub a:hover, .header-sub a:focus{
  color: var(--main-color);
  -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.header-sub a i{
  display: inline-block;
  font-size: 14px;
  margin-right: 6px;
}
.header-sub .mutil-language{
  text-align: right;
}
.header-sub .mutil-language li{
  display: inline-block;
  padding: 0 5px;
}
.header-sub .mutil-language > li.active a{
  color: var(--main-color);
  
}
/*----------------------------------
Header-top
----------------------------------*/
.header-top{
  background-color: #fff;
  padding: 20px 0 15px;
}
.header-top-infor{
  text-align: right;
  font-family: var(--sub-font);
}
.header-top-infor h4{
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.125rem;
}
.header-top-infor h4 span{
  color: var(--main-color);
}
/*----------------------------------
Header-top
----------------------------------*/
/*----------------------------------
Main-menu
----------------------------------*/
#header {
  height: 47px;
  transition: all 0.5s;
  z-index: 997;
  background: var(--main-color);
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
.logo{
  display: inline-block;
  position: relative;
  width: auto;
  height: 45px;
  margin-top: 10px;
}
.logo img {
  padding: 0;
  margin: 0;
  height: 45px;
  width: auto;
}

@media (max-width: 991px) {
  #header {
    padding: 20px 0;
    height: 74px;
    background-color: #fff;
  }
}
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 220px;
}

/* Nav Meu Container */
#nav-menu-container {
  float: left;
  margin: 9px 0;
}

@media (max-width: 991px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-family: var(--sub-font);
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  font-weight: 600;
}
.nav-menu .language > a{
  text-transform: none;
  font-family: var(--main-font);
  position: relative;
  top: -7px;
}
.nav-menu .language > a span{
  font-size: 12px;
}
.nav-menu .language > a img{
  position: relative;
  top: 5px;
}
.nav-menu a i{
  font-size: 12px;
  margin-left: 3px;
}
.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: rgba(255,  255,  255,  0.7);
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px 0;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
  border-bottom: 3px solid var(--main-color);
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #000;
  padding-left: 20px;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}
.nav-menu ul li a i{
  font-size: 12px;
  float: right;
  color: #555;
}
.nav-menu ul li:hover > a {
  color: var(--main-color);
  background-color: transparent;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 40px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: var(--main-color);
}

@media (max-width: 991px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -350px;
  width: 350px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 18px;
  font-family: var(--main-font);
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}
#mobile-nav ul .language a img{
  position: relative;
  top: 5px;
}
#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-caret-up {
  color: var(--main-color);
}

#mobile-nav ul .menu-item-active {
  color: var(--main-color);
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}
/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i{
  color: #fff;
}
/*----------------------------------
Main-menu
----------------------------------*/

/*----------------------------------
readmore-research
----------------------------------*/
.readmore-research{
  background-color: var(--main-color);
  color: #fff;
  padding: 40px 0;
}
.readmore-research h3{
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
/*----------------------------------
readmore-research
----------------------------------*/
/*----------------------------------
Banner-subPage
----------------------------------*/
.banner-sub{
  padding: 20px 0;
}
.banner-sub__title{
  color: #fff;
  font-weight: bold;
  font-family: var(--sub-font);
  font-size: 1.5rem;
}
.breadcrumb{
  background-color: transparent;
  padding: 0;
  color: #fff;
  padding-top: 10px;
  margin-bottom: 0;
  float: right;
}
.breadcrumb-item.active,.breadcrumb-item+.breadcrumb-item::before{
  color: #fff;
}
.breadcrumb-item a:hover{
  color: var(--main-color);
}
/*----------------------------------
Banner-subPage
----------------------------------*/
/*----------------------------------
footer
----------------------------------*/
.footer{
  background-color: #181818;
  color: #fff;
  padding: 60px 0 40px;
}
.footer img{
  height: 40px;
  width: auto;
}
.footer .footer-menu li a{
  font-family: var(--sub-font);
  margin-bottom: 10px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer-menu li a:hover{
  color: var(--main-color);
}
.footer .footer-menu li a::before{
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid var(--main-color);
  display: inline-block;
  margin-right: 10px
}
.footer h4{
  font-family: var(--sub-font);
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 23px;
}
.footer h4 span{
  color: var(--main-color);
}
.footer-addr li{
  margin-bottom: 10px;
}
.footer-addr li p i{
  text-align: center;
  display: inline-block;
  min-width: 25px;
}
.footer-bottom{
  background-color: #0c0c0c;
  padding: 13px 0;
  border-bottom: 7px solid var(--main-color) ;
}
.footer-bottom p{
  font-size: 0.75rem;
  color: #fff;
  font-weight: bold;
}
/*----------------------------------
footer
----------------------------------*/
.logo {
  display:  none;
}
@media (max-width: 1200px) {
  #header .nav-menu > li{
    margin-left: 5px;
  }
  #header .nav-menu a{
    font-size: 11px;
  }
}
@media (max-width: 991px) {
  .readmore-research h3{
    margin-bottom: 20px;
  }
  .footer img{
    margin-bottom: 20px;
  }
  .footer h4{
    margin-top: 20px;
  }
  .menu-has-children a i{
    display: none;
  }
  .header-top{
    display:  none;
  }
  #header .logo{
    display: block;
    position: relative;
    top: -15px;
  }
  #header{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
  }
  .banner-sub{
    padding-top: 60px;
  }
  
}
@media (max-width: 768px){
  .banner-sub__title{
    text-align: center;
  }
  .breadcrumb{
    float: none;
  }
  .banner .banner-sub{
    padding-top: 20px;
  }
}
@media (max-width: 575px){
  .readmore-research h3{
    font-size: 1.25rem;
  }
  #mobile-nav{
    width: 230px !important;
  }
}