.project{
	padding: 60px 0;
}
.project .pagination{
    margin-top: 60px;
    margin-bottom: 20px;
}
.project .page-item{
    margin: 0 5px;
}
.project .page-item a{
    font-size: 14px;
    color: #555;
    padding: 8px 15px;
    border-radius: 3px;
    background-color: transparent;
}
.project .page-item a:hover{
    background-color: rgba(192, 32, 47, 0.1);
    color: var(--main-color)
}
.project .page-item.active a{
    background-color: var(--main-color);
    color: #fff;
}
.h-project__item{
  display: block;
  position: relative;
}
.h-pro__imgct{
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: block;
  border-radius: 3px;
  position: relative;
}
.h-pro__img{
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
}
.h-project__item:hover .h-pro__img{
  -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.quickview {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    display: none;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
     transition: 0.5s;
}
.quickview i{
    font-size: 1rem;
    color: #777;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h-project__item:hover .quickview,
.h-project__item:focus .quickview{
    display: block;
}
.h-project__item{
	margin-bottom: 35px;
}
.h-pro__infor{
  margin-top: 15px;
}
.h-pro__infor .h-ct{
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 44px;
  display: block;
}
.h-project__item:hover .h-ct,.h-project__item:focus .h-ct{
  color: var(--main-color);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.h-project__list .owl-nav button.owl-next, 
.h-project__list .owl-nav button.owl-prev, 
.h-project__list button.owl-dot{
  border: 1px solid #000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.h-project__list .owl-nav i{
  font-size: 0.75rem;
}
.h-project__list .owl-nav {
  position: absolute;
  top: -80px;
  right: 0;
}
.h-project__list .owl-nav [class*=owl-]:hover{
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
/*----------------news-left------------------*/
.artcle-left .h-title{
	margin-bottom: 30px;
}
.article-bt-left .h-title{
	margin-bottom: 20px;
}
.artcle-left{
	margin-bottom: 30px;
}
.news-left .news-l__imgct{
	width: 100%;
	height: 70px;
	overflow: hidden;
	display: block;
	position: relative;
  	top: 4px;
}
.news-left .news-l__img{
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-size: cover;
	background-position: center;
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
}
.news-left .news-l__img::before{
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
}
.news-l__imgct i{
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 1rem;
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
}
.news-l__imgct:hover i{
	opacity: 1;
}
.news-l__imgct:hover .news-l__img::before{
	opacity: 1;
}

.news-l__imgct:hover .news-l__img{
	-ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.news-l__date{
	font-size: 0.75rem;
	color: #9a9ea2;
	margin-bottom: 3px;
}
.news-l__des{
	font-size: 0.875rem;
	font-weight: bold;
	max-height: 57px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	text-align: justify;
}
.news-l__des:hover{
	color: var(--main-color);
	-webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.news-left{
	margin-bottom: 15px;
}
.article-bt-left .news-l__des{
	margin-bottom: 7px;
	max-height: 60px;
}
.article-bt-left .news-l__des::before{
	content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid var(--main-color);
    display: inline-block;
    margin-right: 10px;
}
.job-left-infor{
	margin-bottom: 10px;
}
@media (max-width: 991px){
	.news-imgct{
		margin-bottom: 10px;
	}
	.news-infor .news-des{
		margin-bottom: 15px;
	}
	.news-infor{
		padding: 15px;
	}
}
@media (max-width: 768px){
	.artcle-left::before, .artcle-left::after{
		content: '';
		width: 100%;
		height: 1px;
		background-color: #d5d8e0;
		display: inline-block;
		margin: 30px 0;
	}
	.artcle-left{
		margin-bottom: 0;
	}
	.news-imgct{
		height: 250px;
	}
}
/*----------------project-details------------------*/
.news-d__title{
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 15px;
}
.news-d__date{
	color: #9a9ea2;
	margin-bottom: 15px;
}
.news-d__ct{
	line-height: 22px;
	text-align: justify;
}
.news-d-content {
	margin-bottom: 30px;
}
.news-d-content img{
	height: auto;
	display: block;
	width: 80%;
	margin: 15px auto;
}
.news-detail{
	margin-bottom: 30px;
}

.owl-theme .owl-nav.disabled+.owl-dots{
	margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
	background-color: var(--main-color);
}