/*----------------research------------------*/
.research{
	padding: 60px 0;
}
.h-box__body .h-box__date{
  color: #9a9ea2;
}
.h-box__body .h-box__date span{
	display: inline-block;
	margin: 0 5px;
}
.h-box__body .h-box__des{
	margin-top: 10px;
	line-height: 22px;
	text-align: justify;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 66px
}
.h-box__body .h-box__title{
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}
.h-box__body .h-box__title:hover{
  color: var(--main-color);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.h-box__body h3{
  font-family: var(--sub-font);
  font-weight: bold;
  color: #e3e3e3;
  text-align: center;
  font-size: 3rem;
  margin-top: -10px;
}
.h-body__item{
  padding: 30px 0;
  border-bottom: 1px solid #d5d8e0;
}
.h-box__body .h-body__item:last-child{
  border-bottom: none;
}
.research .pagination{
    margin-top: 60px;
    margin-bottom: 20px;
}
.research .page-item{
    margin: 0 5px;
}
.research .page-item a{
    font-size: 14px;
    color: #555;
    padding: 8px 15px;
    border-radius: 3px;
    background-color: transparent;
}
.research .page-item a:hover{
    background-color: rgba(192, 32, 47, 0.1);
    color: var(--main-color)
}
.research .page-item.active a{
    background-color: var(--main-color);
    color: #fff;
}
/*----------------research------------------*/
/*----------------form------------------*/
.form-control{
	height: 40px;
	border-radius: 0;
}
label{
	font-family: var(--sub-font);
	font-weight: bold;
	margin-top: 5px;
	font-size: 1rem;
	display: inline-block;
	float: left;
}
.select2-container .select2-selection--single{
	height: 40px;
	border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 40px;

}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 40px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: var(--main-color);
}
.form-control:focus{
	border-color: var(--main-color);
	box-shadow: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-width: 6px 5px 0 5px;
	border-color: var(--main-color) transparent transparent transparent;
}
.select2-container--default .select2-selection--single .select2-selection__clear{
	margin: 10px 10px 0 0 ;
}
/*----------------form------------------*/
/*----------------news-left------------------*/
.artcle-left .h-title{
	margin-bottom: 30px;
}
.article-bt-left .h-title{
	margin-bottom: 20px;
}
.artcle-left{
	margin-bottom: 30px;
}
.news-left .news-l__imgct{
	width: 100%;
	height: 70px;
	overflow: hidden;
	display: block;
	position: relative;
  	top: 4px;
}
.news-left .news-l__img{
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-size: cover;
	background-position: center;
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
}
.news-left .news-l__img::before{
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
}
.news-l__imgct i{
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 1rem;
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
}
.news-l__imgct:hover i{
	opacity: 1;
}
.news-l__imgct:hover .news-l__img::before{
	opacity: 1;
}

.news-l__imgct:hover .news-l__img{
	-ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.news-l__date{
	font-size: 0.75rem;
	color: #9a9ea2;
	margin-bottom: 3px;
}
.news-l__des{
	font-size: 0.875rem;
	font-weight: bold;
	max-height: 57px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	text-align: justify;
}
.news-l__des:hover{
	color: var(--main-color);
	-webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.news-left{
	margin-bottom: 15px;
}
.article-bt-left .news-l__des{
	margin-bottom: 7px;
	max-height: 60px;
}
.article-bt-left .news-l__des::before{
	content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid var(--main-color);
    display: inline-block;
    margin-right: 10px;
}
.job-left-infor{
	margin-bottom: 10px;
}
@media (max-width: 768px){
	.research .pagination{
		margin-bottom: 20px;
	}
	.artcle-left::before, .artcle-left::after{
		content: '';
		width: 100%;
		height: 1px;
		background-color: #d5d8e0;
		display: inline-block;
		margin: 30px 0;
	}
	.artcle-left{
		margin-bottom: 0;
	}
}
/*----------------r-details------------------*/
.r-details .h-body__item{
	padding: 0;
}
.r-details .h-box__title{
	font-size: 1.25rem;
}
.r-details .h-box__title:hover{
	color: #000;
}
.r-details .h-box__ct{
	line-height: 23px;
	font-size: 0.875rem;
	margin-top: 10px;
	text-align: justify;
	margin-bottom: 30px;
}
.r-details img{
	height: auto;
	width: 80%;
	display: inline-block;
	margin: 15px auto;
}
/*----------------r-details------------------*/
/*----------------r-related------------------*/
.h-box-related .h-body__item{
	padding: 0 15px;
}
.owl-theme .owl-nav.disabled+.owl-dots{
	margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
	background-color: var(--main-color);
}
/*----------------r-related------------------*/