﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>HOME</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon/favicon-16x16.png">
    <link rel="manifest" href="image/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Nunito+Sans:400,600,700,800" rel="stylesheet">
    <!-- Bootstrap CSS link CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Libraries CSS link CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" media="screen and (min-width:991px)">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css " />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <link rel="stylesheet" href="css/popular.css">
    <link rel="stylesheet" href="css/index.css">
    @RenderSection("css", false)
</head>
<body>
    <div class="header-sub">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="tel:0236.3423.632 (108)"><i class="fas fa-phone"></i>0236.3827.111 (807)</a>
                </div>
                <div class="col-md-3">
                    <a href="mailto:inis.duytan@gmail.com?subject=feedback" title="click to email feedback" tabindex="3"><i class="fas fa-envelope"></i>inis.duytan@gmail.com</a>
                </div>
                <div class="col-md-6">
                    <ul class="mutil-language">
                        <li><a href="">Tiếng Việt</a></li>
                        <li class="sparate">|</li>
                        <li class="active"><a href="">English</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top" style="background-image: url('image/header-top.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a href="#" class="header-t-logo-wrapper">
                        <img src="image/logo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-8">
                    <div class="header-top-infor">
                        <h4><span>THE INSTITUTE OF INDUSTRIAL NETWORKS </span><br>AND INTELLIGENT SYSTEMS</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="image/logo.png" alt=""></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="index.html">Home</a></li>
                    <li class="menu-has-children">
                        <a href="people.html">
                            People
                            <i class="fas fa-angle-down"></i>
                        </a>
                        <ul>
                            <li><a href="people-directorate.html">Directorate board</a></li>
                    </li>
                    <li><a href="people-staff.html">Staff</a></li>
                </ul>
                </li>
                <li class="menu-has-children">
                    <a href="research.html">
                        Research
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <ul>
                        <li><a href="research.html">Research topics</a></li>
                        <li><a href="research.html">Publications</a></li>
                        <li><a href="research.html">Collaboration</a></li>
                    </ul>
                </li>
                <li><a href="training.html">Training</a></li>
                <li><a href="service.html">Service</a></li>
                <li><a href="news.html">News & Events</a></li>
                <li><a href="project.html">Projects</a></li>
                <li><a href="job.html">Job Openings</a></li>
                <li><a href="contactus.html">Contact us</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header>

    @RenderBody()

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <a href=""><img src="image/logo.png" alt=""></a>
                </div>
                <div class="col-lg-2 col-md-6">
                    <ul class="footer-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="people.html">People</a></li>
                        <li><a href="research.html">Research</a></li>
                        <li><a href="training.html">Training</a></li>
                        <li><a href="service.html">Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <ul class="footer-menu">
                        <li><a href="news.html">News & Events</a></li>
                        <li><a href="project.html">Project</a></li>
                        <li><a href="job.html">Job openings</a></li>
                        <li><a href="contactus.html">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-12">
                    <h4><span>THE INSTITUTE OF INDUSTRIAL NETWORKS</span> AND INTELLIGENT SYSTEMS</h4>
                    <ul class="footer-addr">
                        <li><p><i class="fas fa-map-marker-alt"></i> Room 302 - 03 Quang Trung St.,Hai Chau Dist., Da Nang.</p></li>
                        <li><p><i class="fas fa-envelope"></i>inis.duytan@gmail.com</p></li>
                        <li><p><i class="fas fa-phone"></i>0236.3423.632 (108)</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <p>Copyright © 2019 Duy Tan University</p>
        </div>
    </section>
    <a href="" class="back-to-top"><i class="fas fa-chevron-up"></i></a>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.9/js/superfish.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0892TS3YUeYB3C2UQRhSuzhN3rIhA8a8&callback=initMap" async defer></script>
    @RenderSection("Scripts", required: false)
</body>
